@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fontello.css);
@import url(./normalize.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 숨김콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  /* 영역 바깥에 위치시키는 것. 
  그러나 스크린리더 사용시 좋지 않음.
  text-indent: -10000px;
  left: -10000px; */
  /* top: -9999em; */
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  /* clip은 position이 absolute일때만 사용가능 하지만 권장하지 않음.(구형 브라우저에서 동작) */
  clip-path: polygon(0 0, 0 0, 0 0);
  /* (0,0,0,0은 마스킹 처리 -보여줄 영역 지정-) clip보다 모던코드 */
}
/*css Module*/
/*float 이슈를 해결하기 위한 CSS 선언*/
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
/* 기본설정 */
a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  color: #181818;
  background-color: #fff;
  font-family: "Spoqa Han Sans", "Sans-serif";
  font-weight: 300;
}
.container {
  background-color: silver;
  /* height: 100vh; */
  /* display: flex;
    /*flex direction 기본값은 row*/
  /* flex-direction: column;
    align-items: center; */
}

.header,
.visual,
.main,
.slogan,
.footer {
  box-sizing: border-box;
  width: 940px;
  margin: 0 auto;
}
.header {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
  position: relative;
}
/*로고*/
.logo {
  margin: 0;
  position: absolute;
  top: 45px;
  left: 62px;
  /* z-index: 10; */
}
/*멤버링크*/
.member {
  margin: 0;
  padding: 2px 0;
  list-style-type: none;
  text-align: right;
  font-size: 0;
  position: relative;
  right: -10px;
}
.member li,
.member a {
  display: inline-block;
}
.member li {
  font-size: 1.4rem;
}
.member li:nth-child(n + 2)::before {
  content: ":";
  margin: 0 2px;
}
.member a {
  text-transform: uppercase;
  padding: 8px 10px;
}
/*메인메뉴*/
.navigation {
  padding-bottom: 50px;
}

.menu {
  height: 47px;
  list-style: none;
  padding-left: 229px;
  margin: 0;
  border-top: 2px solid #000;
  background: linear-gradient(
    to bottom,
    #e8852e 0%,
    #ed552f 35%,
    #ed552f 70%,
    #e8852e 100%
  );
  background-color: #ed552f;
  /*background와 background-color의 순서를 꼭 지켜야함. 순서가 바뀌면 의도한 색깔이 나오지 않을 수 있음*/
  /* box-shadow: 0 -10spx 0 0 #000; */
}
.menu-item {
  outline: none;
  position: relative;
  float: left;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}
.menu-button {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 45px;
  padding: 0 20px;
  display: block;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}
.menu-act .menu-button {
  color: #ff0;
}
.menu-act .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}
.submenu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: absolute;
  display: none;
  white-space: nowrap;
  top: 47px;
}
.menu-act .submenu {
  display: block;
}
.menu li:nth-child(-n + 3) .submenu {
  left: 0;
}
.menu li:nth-child(n + 4) .submenu {
  right: 0;
}
.submenu li,
.submenu a {
  display: inline-block;
}
.submenu a {
  padding: 8px 10px;
}
.visual {
  background-color: lime;
  height: 120px;
  position: relative;
}
@keyframes textAni {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
.visual-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
  background-color: yellow;
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  color: rgba(0, 0, 0, 0);
}
@keyframes bgAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.visual::before,
.visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: bgAni 2s infinite alternate;
}
.visual::before {
  background-image: url(./images/ani_flower_01.png),
    url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}
.visual::after {
  background-image: url(./images/ani_flower_03.png),
    url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1s;
}
.main {
  display: flex;
  /* flex-direction: row; */
  flex-flow: row wrap;
  /*단축표기법*/
  justify-content: space-around;
  /* justify-content: space-evenly;는 IE에서 지원안되는 경우도 있으니
    그럴 경우 around로 우회 */
  min-height: 450px;
  padding: 30px 15px;
  background-color: #fff;
  /* padding: 30px 15px; */
  border-radius: 15px 15px 0 0;
}
.group {
  /* float: left;
    height: 60vh;
    margin: 0 15px; */
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}
/*로그인*/
.login {
  background-color: #ed552f;
  background-image: radial-gradient(circle at right top, #e8852e, #ed552f);
  box-shadow: 5px 5px 0 0 #aaa;
  border-radius: 5px;
  padding: 10px;
}
.login-heading {
  color: #ff0;
  margin: 0;
  font-size: 1.5rem;
  text-indent: 10px;
}
.login-form {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
}
.login-form fieldset {
  position: relative;
  border: 0 none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}
.user-email,
.user-pw {
  margin-bottom: 5px;
}
.login-form label {
  width: 4em;
  display: inline-block;
}
.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.btn-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ed552f;
  border-radius: 3px;
  background-color: #e8852e;
  color: #fff;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
}
.sign {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2px 10px;
  font-size: 1.3rem;
}
.sign .icon-right-open::before {
  color: #ed552f;
  margin: 0;
}
.sign a {
  display: inline-block;
  padding: 8px 0;
}
.slogan {
  background-color: orange;
  height: 10vh;
}

.footer-bg {
  background-color: purple;
  width: 100vw;
  /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.footer {
  background-color: yellow;
  height: 10vh;
}
/* 보라색/파란색은 부모요소때문에 안보임 */
